*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oswald;
    color: #fff;
}
.wrap{
    width: 100%;
    min-height: 100vh;
    background-color: #222;
    display: flex;
    flex-direction: column;
    
    header{
        width: 100%;
        height: 10vh;
        background-color: #111;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        border-radius: 0 0 20px 20px;
        box-shadow: 0  3px 5px #999;

        .logo{
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            img{
                border-radius: 50%;
                width: 9vh;
            }
        }
        nav{
            width: 10%;
            display: flex;
            justify-content: space-around;
            
            a{
                text-decoration: none;
            }
        }
    }
    main{
        width: 100%;
        height: 90vh;
        display: flex;

        .rightMain{
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width: 65%;
                height: 55%;
            }
        }
        .leftMain{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding-left: 200px;

            h3{
                font-size: 56px;
            }
            p{
                margin-bottom: 50px;
            }

            button{
                background-color: #000;
                width: 100px;
                height: 30px;
                border: none;
                border-radius: 15px;
                font-size: 18px;
                
            }
            button:hover{
                box-shadow: 0 0 15px #999;
                transition: 0.5s;
            }
            
        }
    }
    .posts{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        flex-wrap: wrap-reverse;

        .post{
            width: 300px;
            height: 300px;
            background-color: #555;
            margin: 50px;
            border-radius: 10px;

            .title{
                width: 100%;
                height: 10%;
                background-color: #000;
                padding-left: 10px;
            }
            img{
                width: 100%;
                height: 50%;
            }
        }
    }
}
@media screen and (max-width:1250px){
    .wrap{
        // background-color: red;

        header{

            h1{
                font-size: 28px;
            }
        }
    }
}

@media screen and (max-width:1100px){
    .wrap{
        // background-color: red;

        header{

            h1{
                font-size: 24px;
            }
        }
        main{
            .rightMain{

                img{
                    width: 65%;
                    height: 45%;
                }
            }
        }
        
    }
}


@media screen and (max-width:1000px){
    .wrap{
        // background-color: red;

        header{

            h1{
                font-size: 22px;
            }
        }
        main{

            .leftMain{
                padding-left: 150px;

                h3{
                    font-size: 52px;
                }
            }
        }
        
    }
}

@media screen and (max-width:950px){
    .wrap{
        // background-color: red;

        header{

            h1{
                font-size: 20px;
            }
        }
        main{
            .leftMain{
                padding-left: 120px;
            }
        }
        
    }
}
@media screen and (max-width:860px){
    .wrap{
        // background-color: red;

        header{

            h1{
                font-size: 18px;
            }
        }
        main{
            .leftMain{
                padding-left: 100px;
            }
        }
        
    }
}
@media screen and (max-width:800px){
    .wrap{
        // background-color: red;

        header{

            h1{
                font-size: 16px;
            }
        }
        main{
            .rightMain{

                img{
                    width: 65%;
                    height: 35%;
                }
            }
            .leftMain{
                padding-left: 80px;
            }
        }
        
    }
}
@media screen and (max-width:730px){
    .wrap{
        // background-color: red;

        header{
            .logo{
                width: 30%;
    
                img{
                    width: 8vh;
                }
                h1{
                    font-size: 14px;
                }
            }

          
        }
        main{
            height: 150vh;
            flex-direction: column;
            .rightMain{
                width: 100%;
                height: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                // background-color: green;

                img{
                    width: 50%;
                    height: 50%;
                }
            }
            .leftMain{
                width: 100%;
                height: 50%;
                padding-left: 250px;
                // background-color: greenyellow;

            }
        }
        
    }
}

@media screen and (max-width:650px){
    .wrap{
        // background-color: red;

        header{
            .logo{
             
    
                img{
                    width: 6vh;
                }
                h1{
                    font-size: 14px;
                }
            }

          
        }
        main{
            
            .leftMain{
                width: 100%;
                height: 50%;
                padding-left: 190px;
                // background-color: greenyellow;

            }
        }
        
    }
}


@media screen and (max-width:550px){
    .wrap{
        // background-color: red;

        header{
            .logo{
           
    
                img{
                    width: 6vh;
                }
                h1{
                    font-size: 14px;
                }
            }

          
        }
        main{
            
            .leftMain{
                width: 100%;
                height: 50%;
                padding-left: 140px;
                // background-color: greenyellow;

                h3{
                    font-size: 50px;
                }

            }
        }
        
    }
}

@media screen and (max-width:400px){
    .wrap{
        // background-color: red;
        header{
            nav{
                width: 30%;
                font-size: 16px;
            }
            .logo{
                width:45%;
                h1{
                    font-size: 18px;
                }
            }
        }

        main{
            .leftMain{
                padding-left: 70px;
            }
            .rightMain{
                img{
                    width: 70%;
                    height: 35%;
                    
                }
            }

        }
    }
}